*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* functions primaries color and font*/
:root {

  --main-color-yellow: #D2A01E;
  --main-color-brown: #6B5A1E;
  --main-color-gris-1: #f9f9f9;
  --main-color-gris-2: #f0f0f0;
  --main-color-gris-3: #e6e6e6;
  --main-color-gris-4: #CAC8C8;
  --dark-color-yellow: #BF8211;
  --dark-color-gris-1: #8C8C8C;
  --dark-color-gris-2: #616161;
  --dark-color-gris-3: #545151;
  --dark-color-gris-4: #4E4B4B;
  --main-font: 'Angkor', serif;
}

.header {
  background-color: #F9F9F9;
  height: 80px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

body {
  height: 100vh;
}

h1 {
  font-family: var(--main-font);
  font-size: 30px;
  font-weight: 500;
  color: var(--main-color-yellow);
  display: flex;
  justify-content: center;
  padding: 20px;

}

.checkbox {
  display: none;
  align-items: right;
  justify-content: right;
}

.switch {
  margin-top: 50px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
}

.dark-mode {
  width: 60px;
  height: 15px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: right;
  justify-content: right;
  align-items: center;
  border: 4px solid transparent;
  transition: .3s;
  box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.25) inset;
  cursor: pointer;
}

.dark-mode::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--main-color-yellow);
  transform: translateX(-40px);
  border-radius: 20px;
  transition: .3s;
  box-shadow: 0 0 10px 3px rgb(0, 0, 0, 0.25);
}

/* body score*/
.score {
  display: block;
  margin-top: 100px;
  text-align: center;
  color: var(--main-color-brown);

}

.score p {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  line-height: 1.2;

}

.score h2 {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;

}

.main-cookie {
  display: flex;
  width: 80%;
  margin: auto;
}


.checkbox:checked~.dark-mode::before {
  transform: translateX(40px);
  box-shadow: 0 0 10px 3px rgb(0, 0, 0, 0.25);
}

.checkbox:checked~.dark-mode {
  background-color: white;
}

.checkbox:active~.dark-mode::before {
  transform: translate(0);
}